@model IEnumerable<Petshop1.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCliente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idCliente">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.idCliente">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
