@model IEnumerable<Petshop1.Models.TipoServico>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de Serviços</h1>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idTipoServico">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idTipoServico">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.idTipoServico">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
