@model IEnumerable<Petshop1.Models.Servico>

@{
    ViewData["Title"] = "conServ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>conServ</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtde)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServico.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtde)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idServico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idServico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idServico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
